.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 40px;
    unity-text-align: center;
    color: white;
}

.button {
    width: 80%;
    height: 100px; /* fixed height; vh/vw not supported */
    margin-top: 20px;
    background-color: #922b21;
    color: white;
    font-style: bold;
}
